
<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
  <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-4 font-medium text-gray-900">Id</th>
      <th scope="col" class="px-6 py-4 font-medium text-gray-900">Status</th>
      <th scope="col" class="px-6 py-4 font-medium text-gray-900">Description</th>
      <th scope="col" class="px-6 py-4 font-medium text-gray-900">Generate Contrat</th>
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 border-t border-gray-100">

    <tr *ngFor="let devis of devisAccepted" class="hover:bg-gray-50">

      <td class="px-6 py-4">
          {{devis.id}}
      </td>
      <td class="px-6 py-4">{{devis.status}}</td>
      <td class="px-6 py-4">{{devis.description}}</td>
      <td class="px-6 py-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="generateContrat(devis.id)">
          Generate Contrat
        </button>
    </tr>

    </tbody>
  </table>
</div>
