// dashboard.component.scss

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import '../../../../styles.scss';

.sidebar {

  &.hidden {
    display: none;
  }
}

.wrapper {
  background-color: $background-color;

  header {
    background-color: $primary-color;
    border-bottom: 1px solid $secondary-color;

    .fa-bars {
      color: $secondary-color;
    }

    // Rest of your styles...
  }

  .sidebar {
    background-color: $primary-color;
    border-right: 1px solid $secondary-color;

    header {
      border-color: $secondary-color;
    }
  }
}

.content {
  background-color: $background-color;

  .info {
    border-color: $secondary-color;

  }


}
